.banner {
    background: url('https://plus.unsplash.com/premium_photo-1701590725747-ac131d4dcffd?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fHdlYnNpdGUlMjBiYW5uZXJ8ZW58MHx8MHx8fDA%3D') no-repeat center center/cover;
    text-align: center;
    color: white;
    padding: 100px 20px;
  }
  
  .banner h1 {
    font-size: 48px;
  }
  
  .banner p {
    font-size: 20px;
  }
  
  .banner button {
    margin-top: 20px;
    padding: 10px 20px;
  }
  